@media screen and (max-width: 767px){

.logo{width: 2vw;}
 
 h1{
  font-size: 5vw;
    color: #352C84;
   font-family: 'Red Hat Display';
   }

 p, h3{
  font-size: 1.4vw;
    color: #352C84;
   font-family: 'Red Hat Display';
 }

 h2{
  font-size: 2.8vw;
    color: #352C84;
   font-family: 'Red Hat Display';
   }

 .imagem-noticia{
  width: 20vw; 
  height: auto;
 }

.menu-2{
    display: flex;
    gap: 250px;
}

.procurar{
    width: 100px;
    height: 20px;
    padding-left: 10px;
    border: none;
    border-radius: 50% 0 0 50%;
    background-color: #CAC0B5;
    background-opacity: 50%;
    color: #2A516E;
    margin-right: 50px;
    margin-top: 60px;
}

.circulo-pesquisa{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 35px;
    top: 60px;
    border: none;
    border-radius: 100%;
    background-color: #352C84;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lupa{
    width: 20px;
    height: 20px;
}


 
}
